.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-display: swap;
}

/* background
botoes
cores de textos */
:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --button-primary-color: #8f0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --text--family: "Montserrat", sans-serif;
  --text-weight: 300px;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  color: var(--text-primary-color);
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: 700px;
  font-size: 20px;
  background-color: var(--button-secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

.section-title h2 {
  font-size: 28px;
  margin: 0;
  color: var(--text-primary-color);
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--button-secondary-color);
  border: none;
  margin: 16px auto 32px;
}
@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--button-primary-color);
  }
}
